{$N8N_HOST} {
    reverse_proxy n8n:5678
}

{$PGADMIN_HOST} {
    reverse_proxy pgadmin:80
}

{$WAHA_HOST:waha.54-94-213-7.sslip.io} {
    reverse_proxy waha:3000
}

{$PYTHON_API_HOST:api.54-94-213-7.sslip.io} {
    reverse_proxy python-api:8000
}
